In [2]:
import requests
import ast
import pandas as pd

def today_min_data(code):
    if code[0]=='6':
        st ='1'
    else:
        st ='0'# 1是上证，0是深证
    url = 'http://push2his.eastmoney.com/api/qt/stock/trends2/get?cb=jQuery1124039490718071776754_1616132848105&fields1=f1%2Cf2%2Cf3%2Cf4%2Cf5%2Cf6%2Cf7%2Cf8%2Cf9%2Cf10%2Cf11%2Cf12%2Cf13&fields2=f51%2Cf52%2Cf53%2Cf54%2Cf55%2Cf56%2Cf57%2Cf58&ut=7eea3edcaed734bea9cbfc24409ed989&ndays=1&iscr=0&secid='+st+'.'+code+'&_=1616132848552'
    response = requests.get(url=url)# , params=params, headers=headers, cookies=cookies
    content = response.text
    t1 = content.find('trends":')
    t2 = content.rfind('}')
    text = content[t1+8:t2-1]
    s = ast.literal_eval(text)  # 开 收 高 低 成交量 成交金额 均价
    l1 = ["time","open","close","high","low","volume","money","m_p"]
    s_dic = [dict(zip(l1,i.split(','))) for i in s]

    df = pd.DataFrame(s_dic)
    return df

today_min_data('300133')

                time  open close  high   low volume      money    m_p
0   2021-04-07 09:30  6.21  6.21  6.21  6.21    567  352107.00  6.210
1   2021-04-07 09:31  6.22  6.22  6.23  6.20   1070  664989.00  6.213
2   2021-04-07 09:32  6.22  6.23  6.23  6.21   1259  783835.00  6.218
3   2021-04-07 09:33  6.23  6.22  6.23  6.22   1384  861274.00  6.220
4   2021-04-07 09:34  6.22  6.23  6.24  6.22   1564  974146.00  6.222
..               ...   ...   ...   ...   ...    ...        ...    ...
80  2021-04-07 10:50  6.39  6.37  6.39  6.37    808  515213.00  6.335
81  2021-04-07 10:51  6.37  6.36  6.38  6.36   1270  809128.00  6.335
82  2021-04-07 10:52  6.36  6.37  6.37  6.36    532  338429.00  6.335
83  2021-04-07 10:53  6.36  6.36  6.37  6.36    680  432799.00  6.335
84  2021-04-07 10:54  6.36  6.36  6.36  6.36    143   90948.00  6.335

[85 rows x 8 columns]