In [94]:
# 获取数据
url = 'http://www.shfe.com.cn/products/cu/'

In [95]:
from bs4 import BeautifulSoup
import urllib.parse
import pandas as pd

In [96]:
head = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.90 Safari/537.36 Edg/89.0.774.63"}
data = pd.read_html(url)

In [97]:
columns = data[0].values[0]
df = data[1].copy()
df.columns = columns
df

      合约代码       上市日       到期日     开始交割日     最后交割日  挂牌基准价
0   cu2106  20200616  20210615  20210616  20210618  46520
1   cu2107  20200716  20210715  20210716  20210720  51950
2   cu2108  20200818  20210816  20210817  20210819  50960
3   cu2109  20200916  20210915  20210916  20210922  52470
4   cu2110  20201016  20211015  20211018  20211020  51690
5   cu2111  20201117  20211115  20211116  20211118  53630
6   cu2112  20201216  20211215  20211216  20211220  57910
7   cu2201  20210118  20220117  20220118  20220120  59810
8   cu2202  20210208  20220215  20220216  20220218  58150
9   cu2203  20210316  20220315  20220316  20220318  67860
10  cu2204  20210416  20220415  20220418  20220420  67560
11  cu2205  20210518  20220516  20220517  20220519  75650

In [98]:
df.columns

Index(['合约代码', '上市日', '到期日', '开始交割日', '最后交割日', '挂牌基准价'], dtype='object')

Python操作MySQL的步骤如下：

> 建立数据库连接  
> 通过 cursor() 创建游标对象（pymysql通过游标来执行sql和获取结果）  
> 使用 execute() 执行sql    
> 获取结果（查询）/提交事务（增删改）    
> 关闭游标    
> 关闭连接

* net start mysql 启动 mysql 服务    
* net stop mysql 关闭 mysql 服务   
* mysql -hlocalhost -uroot -proot 进入mysql数据库，其中-h表示服务器名，localhost表示本地；  -u为数据库用户名，root是mysql默认用户名；-p为密码，如果设置了密码，可直接在-p后直接输入。   
* 输入show databases；显示你有的数据库（mysql数据库中的命令必须以分号结尾“；”）；
* use databases名字；选择要操作的数据库；
* show tables; 显示所选数据库中的表；
* 如果要退出mysql数据库，输入exit;回车。
* 查看数据库数据存放的位置  show global variables like "%datadir%";

* CREATE DATABASE test_db;
* CREATE DATABASE IF NOT EXISTS test_db;
* drop database shfe;

### df数据写入数据库

In [111]:
import pymysql
import pandas as pd  
from sqlalchemy import create_engine

In [112]:
# import pymysql
# import pandas as pd
# from sqlalchemy import create_engine
# #建立连接，username替换为用户名，passwd替换为密码，test替换为数据库名
# conn = create_engine('mysql+pymysql://username:passwd@localhost:3306/test',encoding='utf8')  
# #写入数据，table_name为表名，‘replace’表示如果同名表存在就替换掉
# pd.io.sql.to_sql(df, "table_name", conn, if_exists='replace')

In [113]:
##将数据写入mysql的数据库，但需要先通过sqlalchemy.create_engine建立连接,且字符编码设置为utf8，否则有些latin字符不能处理  

# 第一个参数thedataframe是需要导入的pd dataframe,

# 第二个参数tablename是将导入的数据库中的表名

# 第三个参数yconnect是启动数据库的接口，pd 1.9以后的版本，除了sqllite，均需要通过sqlalchemy来设置

# 第四个参数databasename是将导入的数据库名字

# 第五个参数if_exists='append'的意思是，如果表tablename存在，则将数据添加到这个表的后面

yconnect = create_engine('mysql+pymysql://root:0000@localhost:3306/futures_c?charset=utf8')  
# pd.io.sql.to_sql(df,'cu', yconnect, schema='futures_c' , index = False, index_label=None,if_exists='replace')
df.to_sql('cu', yconnect,index = False, if_exists='replace')# index_label=None,

### 在pandas中查询mysql中相关数据

In [114]:
import pymysql
import pandas as pd
 
conn = pymysql.connect(host = "localhost",port=3306,user='root',passwd='0000',db='futures_c',charset="utf8")
sql_query = 'SELECT * FROM cu'
df1 = pd.read_sql(sql_query, con=conn)
 
conn.close()  #使用完后记得关掉

In [115]:
df1

      合约代码       上市日       到期日     开始交割日     最后交割日  挂牌基准价
0   cu2106  20200616  20210615  20210616  20210618  46520
1   cu2107  20200716  20210715  20210716  20210720  51950
2   cu2108  20200818  20210816  20210817  20210819  50960
3   cu2109  20200916  20210915  20210916  20210922  52470
4   cu2110  20201016  20211015  20211018  20211020  51690
5   cu2111  20201117  20211115  20211116  20211118  53630
6   cu2112  20201216  20211215  20211216  20211220  57910
7   cu2201  20210118  20220117  20220118  20220120  59810
8   cu2202  20210208  20220215  20220216  20220218  58150
9   cu2203  20210316  20220315  20220316  20220318  67860
10  cu2204  20210416  20220415  20220418  20220420  67560
11  cu2205  20210518  20220516  20220517  20220519  75650

In [116]:
df1.columns

Index(['合约代码', '上市日', '到期日', '开始交割日', '最后交割日', '挂牌基准价'], dtype='object')